div{
    // background-color: #1e7909;
    margin: 0;
    height: 100vh;
    display: flex;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}
.form{
    border: 5px solid black;;
    height:fit-content;
    width: 30%;
    margin: 10% 25% 0 35%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
}
p{
    text-align: center;
    font-weight: 5rem;
}
@media (max-width:600px) {
    .form{
        height: fit-content;
        width: fit-content;
        margin:5% 20% 0 20%;
        padding: 10px;
    }
}