.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
img{
    width: 250px;
}
h4,h6{
    font-weight: 400;
}
table{
    margin: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px; 
        position: relative;
    }
    
    .cart-table {
        overflow-x: auto;
    }

    .table-img {
        width: 100%; 
        max-width: 100px; 
        height: auto; 
    }

    .cart-table table th,
    .cart-table table td {
        padding: 8px 5px;
        font-size: 12px;
    }
    img{
        width: 100%;
    }
}


@media (min-width: 992px) {
    .cart-table table th {
        font-size: 14px;
    }
}




