<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item my-2">
            <a (click)="filter('')">
                <img src="https://images.pexels.com/photos/2536965/pexels-photo-2536965.jpeg" alt="" class="img">
                <h6>All products</h6>
            </a>
        </div>
        <div class="item mx-3 my-2">
            <a (click)="filter('electronics')">
                <img src="https://images.pexels.com/photos/788946/pexels-photo-788946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="" class="img">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item mx-3 my-2">
            <a (click)="filter('fashion')">
                <img src="https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="" class="img">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item mx-3 my-2">
            <a (click)="filter('jewelery')">
                <img src="https://images.pexels.com/photos/47047/gold-ingots-golden-treasure-47047.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="" class="img">
                <h6>Jewellery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @for (item of (filterCategory | filter:searchKey:'title'); track item) {
        <ng-container>
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="" class="img-cart">
                <h5 class="h5">{{item.title}}</h5>
                <p class="h5">{{item.description}}</p>
                <p class="price">Price:<strong>{{item.price*10| currency:'INR'}}</strong></p>
                <div class="btn btn-primary" (click)="addToCart(item)">Add to Cart</div>
            </div>
        </ng-container>
        }
    </div>
</div>